{
  "id": "fish-audio/s2.1-pro-free",
  "provider": "openrouter",
  "format": "mp3",
  "default_voice": "British Female Narrator",
  "voices": {
    "Alice": {"id": "c536c6cdbe8e4d9484232e78ab80020f", "gender": "female"},
    "British Empire": {"id": "2c85ad192e48430bbeaf18e185c4eb46", "gender": "male"},
    "British Female": {"id": "7da08ad79a8a4492b2c6b54091499922", "gender": "female"},
    "British Female Narrator": {"id": "89f41ea230034706881f85a8227d6ab9", "gender": "female"},
    "British Grandpa": {"id": "c76716de6df1435f8aef86a4e890c8a5", "gender": "male"},
    "British Man": {"id": "d44a955f8f7b4b05b3b34a134356c1ae", "gender": "male"},
    "British Narrator": {"id": "e587ef45cafe4476ab23b15d1a6bf49e"},
    "British Narrator (2)": {"id": "7aa4b4afe2574815a72ea7c20e3ca0a5", "gender": "female"},
    "British Storyteller": {"id": "1d304964fcfe4c5998cfe7b7298aa727", "gender": "male"},
    "British Victorian": {"id": "245240d913284400a10c040cfcfcd9f9", "gender": "male"},
    "British Voice": {"id": "f77b35b0fdc74d82a26dd84642dd69db", "gender": "male"},
    "British Voice (2)": {"id": "6c3183ed17d94e389bcc663cfa3fb5b0", "gender": "male"},
    "British War": {"id": "2fd511bd06904a21a971c6551dfb853a", "gender": "male"},
    "Claire UK": {"id": "6224c3370ba749019f42707e370aebbe", "gender": "female"},
    "Confident British": {"id": "6110e363e9ce4ff9879dc43d2cc1263f", "gender": "female"},
    "Cool British Voice": {"id": "65640201377548f0912233c3b1715ccd", "gender": "female"},
    "Dynamic British": {"id": "4cfd7a1e4b464db38e5aefa04b8cedf2", "gender": "female"},
    "Emma Watson": {"id": "41db41746b9c4bd18053c2bfc213b476", "gender": "female"},
    "Granny British": {"id": "614f8afd83f841048c040b2c6234d2c1", "gender": "female"},
    "Linda": {"id": "9811db8e43714d55a06e3839253495f5", "gender": "female"},
    "My British": {"id": "147a9e84880b46ffa7911999e9287eff", "gender": "male"},
    "Poised British Narrator": {"id": "24910aaf9ac0428b89abf4fdc757b0db", "gender": "female"},
    "Proper British Lady": {"id": "22fa3b1346f5428dbf2fc2e6e4839e55", "gender": "female"},
    "Scottish Storyteller": {"id": "8ed868734d7944a2a324301078b9cb20", "gender": "male"},
    "Sir British": {"id": "ed7c228dec7b45f2ae9e2ba9f6f8a2b6", "gender": "male"},
    "UK Old Woman": {"id": "6f8a5512db474707b954ec9ee70f4a9d", "gender": "female"},
    "UK Woman": {"id": "d075991e378647b492d7d331669a1c6a", "gender": "female"}
  }
}