[Desktop Entry]
Type=Application
Name=TTS Narrator
Comment=Narrate your text out loud
Exec=tts_narrator
Icon=com.wyrdness.tts-narrator
Terminal=false
Categories=Utility;AudioVideo;Audio;
StartupNotify=true
StartupWMClass=com.wyrdness.tts-narrator